<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ByteTracker Lost</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/286a30b4f5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="sub-header">
      <nav>
        <a href="/"> <img src="static/images/logo_4.png" /></a>
        <div class="nav-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/lost">Lost</a></li>
            <li><a href="/found">Found</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#" id="signin-btn">Sign In</a></li>
          </ul>
          <ul class="nav-right"></ul>
        </div>
      </nav>

      <div class="text-box2">
        <h1>Lost Objects</h1>        
      </div>

    </header>
    </section>

    <section class="course">
      
      <div class="search-header">Here you can find and search for the lost items</div>

      <div class="search-bar">
  <form id="search-form">
    <input type="text" id="search-box" name="query" placeholder="Search...">
    <button type="submit" id = "srch-btn">Search</button>
    <button id="display-all-btn" type="button">Display All</button>
  </form>
  
  <div class="filters-bar">
    <!-- Checkbox: Date of Upload -->
    <label>
        <input type="checkbox" name="filter" value="date-upload"> Date of Upload
    </label>

    <!-- Checkbox: Ascending Order -->
    <label>
        <input type="checkbox" name="filter" value="ascending"> Ascending Order
    </label>

    <!-- Checkbox: Descending Order -->
    <label>
        <input type="checkbox" name="filter" value="descending"> Descending Order
    </label>

    <!-- Dropdown: Location Filter -->
    <label for="location-filter">
        Location:
        <select id="location-filter" name="location">
            <option value="">Select Location</option>
            <option value="frem">Frem</option>
            <option value="elrc">ELRC</option>
            <option value="zakhem">Zakhem</option>
            <option value="science">Science</option>
            <option value="bassil">Bassil</option>
            <option value="lounge">Lounge</option>
            <option value="old-caff">Old Caff</option>
            <option value="medical-building">Medical Building</option>
            <option value="library">Library</option>
            <option value="block-a">Block A</option>
        </select>
    </label>

    
</div>

</div>

      <div class="row" id="search-results">
        <!-- Items will be dynamically added here -->
      </div>

    </section>



    <section class="footer">
      <h4>About Us</h4>
      <p>
        This is our Data Structures and Algorithms Lab project,<br> from our team members, Ali Ismail, Karim Sakr, and Christopher Farah our deepest gratitude
      </p>

      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <p>Made with <i class="fa-solid fa-heart"></i> me</p>
    </section>

    <button id="scroll-up-btn" class="scroll-up">↑</button>


    <div id="signin-modal" class="modal1">
      <div class="modal1-content">
        <span class="close" id="close-signin">&times;</span>
        <h2>Sign In</h2>

        <form id = "signin-form">
          <input type="email" id = "email" placeholder="Email" required/>
          <input type="password" id = "password" placeholder="Password" required/>    <!-- modal1-->
          <button type="submit" id = "submit-in">Sign In</button>
        </form>
        <div id = "signin-response"></div>
      </div>
    </div>
    <!-- Sign In Modal -->


    <!--
      //Sign up modal
      <div id="signup-modal" class="modal">
        <div class="modal-content">
          <span class="close" id="close-signup">&times;</span>
          <h2>Sign Up</h2>
          <form>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Verify Password"/>
            <button type="submit" id="submit-up">Sign Up</button>
          </form>
        </div>
      </div>
    -->
  </body>

  <script src="static/script.js"></script>
</html>

